ul.month_body li{
  float:left;
  width:14.2857%;
  height:7em;
  border: 1px solid black;
  text-overflow: ellipsis;
  word-wrap:normal;
  white-space: nowrap;
  overflow: hidden;
  overflow-y:hidden;
  padding-left: 0.3em;
}
ul.subject li{
  float:left;
  width:14.2857%;
  height:2em;
  border: 0px;
  z-index: 300;
}
.day{
  cursor:pointer;
}